/* SearchBar.css */

.mainInfosSearchBar {
    padding: 20px;
    background-color: #121212; /* Couleur de fond de la barre de recherche */
}

.search-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    margin-bottom: 10px;
    background-color: #212121; /* Couleur de fond de la zone de recherche */
    color: #fff; /* Couleur du texte dans la zone de recherche */
}

.card-container {
    display: flex;
    flex-wrap: wrap;
}

.card {
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.2s;
    background-color: #121212;
}

.card:hover {
    transform: scale(1.05);
}

.card-image {
    width: 100%;
    max-width: 150px;
    height: auto;
}

.card-info {
    padding: 10px;
}

.result-artist,
.result-album,
.result-music,
.result-playlist {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #fff; /* Couleur du texte des informations de résultat */
}
