.favoriteList{
    width: 66vw;
    height: 6rem;
    border-radius: 7px;
    display: flex;
    margin-top: 10px;
    align-items: center;
    justify-content: space-between;
}

.favoriteList img{
    height: 70px;
    width: 100px;
    border-radius: 3px;
    margin-left: 10px;
}

.favoriteList:hover{
    cursor: pointer;
    background-color: #191919;
}