.favoriteList{
    width: 87rem;
    height: 6rem;
    border-radius: 7px;
    display: flex;
    gap: 200px;
    margin-top: 10px;
    align-items: center;
}

.favoriteList img{
    height: 70px;
    width: 100px;
    border-radius: 3px;
    margin-left: 10px;
}

.favoriteList:hover{
    cursor: pointer;
    background-color: #191919;
}