.carousel {
  display: flex;
  overflow: hidden;
  position: relative;
  transition: transform 4.5s ease-in-out;
  gap: 1.6vw;
}

.carousel.transition {
  transition: none;
}

.carousel-item {
  text-decoration: none;
  flex: 0 0 auto;
  background-color: #181818;
  padding: 10px;
  border-radius: 10px;
  width: 11vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel-item img {
  height: 100%;
  width: 70%;
  border-radius: 10px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.button {
  padding: 10px 20px;
  background-color: #121212;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #139240;
}

.prev {
  margin-right: auto;
  /* Place le bouton "Précédent" à l'extrême gauche */
}

.next {
  margin-left: auto;
  /* Place le bouton "Suivant" à l'extrême droite */
}