.playlistDetail{
    display: flex;
    gap: 30px;
}

.playlistList{
    width: 65.5vw;
    height: 6rem;
    border-radius: 7px;
    display: flex;
    gap: 200px;
    margin-top: 10px;
    align-items: center;
    justify-content: space-between;
    padding-right: 2rem;
}

.playlistList img{
    height: 70px;
    width: 100px;
    border-radius: 3px;
    margin-left: 10px;
}

.playlistList:hover{
    cursor: pointer;
    background-color: #191919;
}